{% extends "base.html.jinja" %}

{%- block content -%}
    <article class="cv__container" id="cv">
        {% if experience -%}
            {%- include "cv/experience.html.jinja" -%}
        {%- endif -%}

        {% if projects %}
            {%- include "cv/projects.html.jinja" -%}
        {% endif %}

        {%- if skills -%}
            {%- include "cv/skills.html.jinja" -%}
        {%- endif -%}

        {%- if education -%}
            {%- include "cv/education.html.jinja" -%}
        {%- endif -%}
    </article>
{%- endblock content -%}
