<section id="education">
  <h2 class="h1">Education</h2>

  <ul class="cv__list-container">
    {%- for institution in education -%}
      <li class="cv__list-item">
        <dl>
          <dt>
            <h3 class="h2 cv__subheading cv__school-name">
              {{- institution.institution -}}
            </h3>
          </dt>

          {%- if institution.award -%}
            <dd><h4>{{- institution.award -}}</h4></dd>
          {%- endif -%}
          <dd><h5 class="cv__date-container"><span
            class="cv__exp-date">{{- institution.end_date -}}</span></h5></dd>
        </dl>

        <ul>
          {%- for concentration in institution.concentrations -%}
            <li
              class="cv__list-item cv__concentration">
              {{- concentration.degree -}}&nbsp;{{- concentration.name -}}</li>
          {%- endfor -%}

          {%- if institution.certificates -%}
            <li class="cv__list-item">Certificates of Achievement
              <ul>
                {%- for cert in institution.certificates -%}
                  <li
                    class="cv__list-item cv__concentration">{{- cert.concentration -}}</li>
                {%- endfor -%}
              </ul>
            </li>
          {%- endif -%}
        </ul>

      </li>
    {%- endfor -%}
  </ul>
</section>
