<section id="projects">
  <h2 class="h1">Projects</h2>

  <ul>
    {% for project, details in projects.items() %}
      <li class="cv__list-item">
      <h3 class="h2 cv__subheading">
        <cite class="h2">
          {%- if details.url -%}
            <a class="h2 cv__project-link"
               href="{{- details.url -}}">{{- project -}}</a>
          {%- else -%}
            {{- project -}}
          {%- endif -%}
        </cite>&nbsp;<span class="h2">{{ details.type }}</span>
      </h3>

      <ul>
        {% for roles, details in details.roles.items() -%}
          <li class="cv__list-item">
          <dl class="cv__sub-subheading">
            <dt><h4 class="cv__exp-role">{{- roles -}}</h4></dt>
            <dd class="cv__date-container"><h5><span
              class="cv__exp-date">{{- details.start_date -}}</span>–<span
              class="cv__exp-date">{{- details.end_date -}}</span></h5>
            </dd>
          </dl>

          {% if details.highlights -%}
            <ul>
              {%- for highlight in details.highlights %}
                <li class="cv__list-item"><p class="copy-text">
                {{- highlight -}}
              {% endfor %}
            </ul>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {% endfor %}
  </ul>
</section>