*                        text=auto

*.css                    text diff=css
*.md                     text diff=markdown
*.py                     text diff=python
*.sql                    text               linguist-language=SQL    linguist-detectable=true

.git*                    text

app/*/templates/*/*.html text diff=html     linguist-language=django
app/build/*.html         text diff=html
