*      text=auto

*.css  text diff=css
*.html text diff=html     linguist-language=django
*.md   text diff=markdown
*.py   text diff=python
*.sql  text               linguist-language=SQL    linguist-detectable=true

.git*  text
