*       text=auto

*.css   text diff=css
*.jinja text diff=html     linguist-language=django
*.md    text diff=markdown
*.py    text diff=python
*.sql   text               linguist-language=SQL    linguist-detectable=true
*.yaml  text
*.yml   text

.git*   text
