{% extends "_base.html.jinja" %}

{% block content %}
  <article class="about-me__container">
    <img class="about-me__img" src="/portrait.webp" alt="A portrait of {{ socials.brand | trim -}}" loading="lazy"/>

    <section id="about-me">
      <h2 class="h1">About Me</h2>
      <p class="copy-text">
        Hello, hello! I’m Charles (he/him), a multi­disciplinary creative technologist based in the Bay Area,
        California. My journey began with a passion for storytelling and bringing it to life with art and animation.
        Driven by deep curiosity and problem-solving, I also wanted to learn computer graphics at a hardware level. This
        led me to pursue systems programming, with the long-term goal of also getting a master’s degree.
      </p>
      <p class="copy-text">
        I firmly believe that technology is meant to be in service of those in need—whether it is in delivering
        authentic stories and impactful experiences, physical and medical assistance, or continuous research. With my
        assortment of creative and technological skills, I hope to contribute to the betterment of someone’s life, no
        matter how subtle it may be.
      </p>
      <p class="copy-text">
        In my free time, I jump around introspective journaling, world-building, drawing/painting, nature &
        astrophotography, personal automation, and building LEGO®.
      </p>
    </section>
  </article>
{% endblock content %}
