{% extends "core/base.html" %}{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/about.css' %}"/>
{% endblock head %}

{% block content %}
  <article class="about-me">
    <div class="img-container">
      <img src="{% static 'core/portrait.png' %}"
           alt="A monochrome photograph of Charles Mesa Cayobit"/>
    </div>

    <section class="about-me__copy">
      <h2 class="about-me__heading">About Me</h2>
      <p>
        Hello, hello! I'm Charles (he/him), a recent graduate based in the Bay
        Area, California. I firmly believe that art and technology go hand in
        hand in creating authentic stories and impactful experiences. I love
        learning new things and solving problems, and I hope to use my skills
        to realize people's artistic visions.
      </p>
      <p>
        In my free time, I love writing journals, taking photos, and building
        Legos.
      </p>
    </section>
  </article>
{% endblock content %}