{% extends "core/base.html" %}{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/cv.css' %}"/>
{% endblock head %}
{% block content %}
  <article class="cv">
    {% if experience %}
      {% include "core/cv/experience.html" %}
    {% endif %}

    {% if projects %}
      {% include "core/cv/projects.html" %}
    {% endif %}

    {% if skills %}
      {% include "core/cv/skills.html" %}
    {% endif %}

    {% if education %}
      {% include "core/cv/education.html" %}
    {% endif %}
  </article>
{% endblock content %}
