.cv li {
    list-style: none;
}

.cv__heading {
    padding: var(--primary-padding) 0;
    text-transform: uppercase;
}

.cv__skills {
    display: flex;
}

.cv__skills li {
    min-width: 15vw;
}

.cv__subheading {
    padding: calc(var(--primary-padding) / 2) 1rem;
}

.cv__sub-subheading {
    padding: calc(var(--primary-padding) / 2) 2rem;
}

.cv__date-container {
    float: right;
}

.cv__exp-highlight {
    padding: calc(var(--primary-padding) / 2) 3rem;
}
