:root {
    --brand-title-font-size: calc(var(--primary-font-size) * 3);
    --brand-subtitle-font-size: calc(var(--brand-title-font-size) / 3);

    --button-padding: 0.5rem 1rem;
    --mobile-screen-width: 512px;

    --max-content-width: 1024px;

    --primary-color: hsl(210 100% 25%);
    --primary-color-dark: hsl(from var(--primary-color) h s calc(l / 1.25));
    --primary-color-light: hsl(from var(--primary-color) h s calc(l * 3));
    --primary-color-transparent: hsl(
            from var(--primary-color-light) h calc(s / 2) calc(l * 1.25) / 0.75
    );

    --primary-font-size: 14pt;
    --primary-line-height: 1.6;

    --primary-padding: 1rem;

    --secondary-color: white;
    --secondary-color-dark: hsl(0 0% 95%);

    --tertiary-color: hsl(30 100% 75%);
    --tertiary-color-light: hsl(from var(--tertiary-color) h calc(s / 3) 95%);
}

/* Start APIs ---------------------------------------------------------------*/

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

/* End APIs -----------------------------------------------------------------*/

html {
    scrollbar-gutter: stable;
}

body {
    align-items: center;
    background-color: var(--secondary-color-dark);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji";
    gap: 5vh;
    margin: 0;
}

header, footer {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.brand {
    background-color: var(--secondary-color-dark);
    width: 100%;
}

.brand * {
    color: var(--primary-color-dark);
    text-decoration: none;
}

.brand h1 {
    font-size: xxx-large;
    margin-bottom: 0.5rem;
}

.brand h2 {
    font-size: large;
    margin-top: 0;
    text-transform: lowercase;
}

.navbar {
    align-items: stretch;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar li {
    padding: 1em;
}

.navbar a {
    color: var(--secondary-color);
    text-decoration: none;
}

header .navbar li:hover {
    background-color: var(--primary-color-dark);
}

footer {
    box-shadow: 0 100vh 0 100vh var(--primary-color);
    padding-bottom: 2.5rem;
}

footer .navbar a:hover {
    color: var(--primary-color-light)
}

main {
    align-items: center;
    display: flex;
    max-width: 75vw;
    min-height: 50vh;
    justify-content: space-around;
}

iframe {
    --height: 540px;

    border-style: hidden;
    height: var(--height);
    width: calc(var(--height) / 9 * 16);
}

p {
    max-width: 70ch;
}

/* Curriculum Vitae ---------------------------------------------------------*/

#cv {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vw;
}

#cv ul {
    --padding-left: 2rem;

    padding-left: var(--padding-left);
}

#cv li {
    list-style: none;
}

#cv__skills {
    display: flex;
    flex-flow: row wrap;
    gap: 2vw;
    justify-content: space-around;
}

#cv__skills li {
    max-width: 20ch;
    min-width: 15ch;
}

.cv__list-item {
    margin: 0;
    padding: 0.5rem 0;
}

p.cv__list-item {
    padding: 0;
    line-height: 2rem;
}

.cv__date-container {
    float: right;
}

/* About Me -----------------------------------------------------------------*/

#about-me {
    --gap: 2rem;

    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    justify-content: space-around;
}

#about-me img {
    --width: 256px;

    width: var(--width);
}

/* @media -------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {

    #about-me {
        gap: calc(var(--gap) / 4);
    }

    #about-me img {
        width: calc(var(--width) * 0.75);
    }
}

@media screen and (max-width: 900px) {

    body {
        gap: 2vh;
    }

    #cv ul {
        padding-left: 1rem;
    }

    .cv__date-container {
        display: block;
        float: none;
        padding: 0.5rem 0;
    }

}

@media screen and (max-width: 500px) {

    body {
        gap: 0;
    }

    main {
        max-width: 85vw;
    }

    .brand h2 {
        font-size: 1em;
    }

    #cv ul {
        padding-left: 0;
    }

    #cv__skills {
        display: block;
    }
}