{% from "cv/_macros.html.jinja" import format_honors %}

<section id="education">
  <h2 class="h1">Education</h2>

  <ul class="cv__list-container">
    {% for institution in education %}
      <li class="cv__list-item">
        <h3 class="h2 cv__subheading">{{ institution.institution | trim }}</h3>

        <ul>
          {% for concentration in institution.concentrations %}

            <li class="cv__list-item">
              <div class="cv__sub-subheading">
                <h4 class="cv__degree-container">{{- concentration.degree | trim }}<span
                  class="cv__degree_separator"> in </span>{{ concentration.name | trim -}}</h4>

                <time class="cv__date-container"
                      datetime="{{- concentration.award_date -}}">{{ concentration.award_date | date_fmt }}</time>
              </div>

              {% if concentration.honors %}
                <div class="cv__degree-honors">{{- format_honors(concentration.honors) -}}</div>
              {% endif %}
            </li>

          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>
