<section id="education">
  <h2 class="h1">Education</h2>

  <ul class="cv__list-container">
    {%- for institution in education -%}
      <li class="cv__list-item">
        <dl>
          <dt>
            <h3 class="h2 cv__subheading cv__school-name">
              {{- institution.institution | trim -}}
            </h3>
          </dt>

          <dd class="cv__date-container"><h5
            class="cv__exp-date">{{- institution.end_date | date -}}</h5></dd>
          {%- if institution.award -%}
            <dd><h4>{{- institution.award | trim -}}</h4></dd>
          {%- endif -%}
        </dl>

        <ul>
          {%- for concentration in institution.concentrations -%}
            <li
              class="cv__list-item cv__concentration">
              {{- concentration.degree | trim -}}&nbsp;{{- concentration.name | trim -}}</li>
          {%- endfor -%}

          {%- if institution.certificates -%}
            <li class="cv__list-item">Certificates of Achievement
              <ul>
                {%- for cert in institution.certificates -%}
                  <li
                    class="cv__list-item cv__concentration">{{- cert.concentration | trim -}}</li>
                {%- endfor -%}
              </ul>
            </li>
          {%- endif -%}
        </ul>

      </li>
    {%- endfor -%}

  </ul>
</section>