:root {
  --primary-color: {{ primary_color }};
  --primary-color-dark: {{ primary_dark }};
  --primary-color-light: {{ primary_light }};
  --primary-color-transparent: {{ primary_transparent }};

  --primary-font-size: 1rem;
  --primary-line-height: 1.5;

  --primary-padding: 1rem;

  --secondary-color: {{ secondary_color }};
  --secondary-color-dark: {{ secondary_dark }};

  --tertiary-color: {{ tertiary_color }};
  --tertiary-color-light: {{ tertiary_light }};

  --brand-title-font-size: calc(var(--primary-font-size) * 3);
  --brand-subtitle-font-size: var(--primary-font-size);
}

{# APIs ######################################################################}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

{# Globals ###################################################################}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

hr {
  visibility: hidden;
}

body {
  background-color: var(--secondary-color);
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-content: space-around space-around;

  font-family: -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji";
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
}

p {
  padding: 0.5rem 0;
}

.h1 {
  font-size: calc(var(--primary-font-size) * 2);
}

.h2 {
  font-size: calc(var(--primary-font-size) * 1.5);
}

{# Header/Footer #############################################################}

header, footer {
  width: 100%;
  background-color: var(--primary-color);

  display: flex;
  flex-flow: column nowrap;
}

footer {
  padding: 1rem 0 3rem;
  color: var(--secondary-color);
}

.footer__copyright {
  padding: 1rem;
  text-align: center;
}

{# Brand #####################################################################}

.brand {
  padding: 1rem;
}

.brand, .brand * {
  background-color: var(--secondary-color);
}

.brand__name {
  font-size: var(--brand-title-font-size);
}

.brand__title {
  font-size: var(--brand-subtitle-font-size);
}

.brand__link {
  text-decoration: none;
}

.brand__name, .brand__title {
  text-align: center;
  color: var(--primary-color-dark);
}

{# Navbar ####################################################################}

.navbar__container {
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  place-content: space-around space-around;
  place-items: center center;
  text-align: center;
}

.navbar__item {
  list-style: none;
}

.navbar__link {
  color: var(--secondary-color);
  text-decoration: none;
}

header .navbar__item {
  padding: 0.5rem 1rem;
}

header .navbar__item:hover {
  background-color: var(--primary-color-dark);
}

footer .navbar {
  gap: 1rem;
}

footer .navbar__link:hover {
  color: var(--primary-color-light);
}

{# Scroll-to-Top #############################################################}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  background-color: var(--primary-color-transparent);
  color: var(--secondary-color);

  -webkit-tap-highlight-color: transparent;

  width: 3rem;
  height: 3rem;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border-radius: 9999px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, background-color 0.2s, transform 0.25s ease-in-out;

  z-index: 999;
}

.scroll-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}

@media (hover: hover) {
  .scroll-to-top:hover {
    background-color: var(--primary-color-dark);
  }
}

.scroll-to-top:active {
  background-color: var(--primary-color-dark);
  transform: scale(125%);
}

.scroll-to-top:focus-visible {
  outline: 2px solid var(--primary-color-light);
  outline-offset: 2px;
}

{# Main ######################################################################}

main {
  width: 100%;
  padding: 2rem;
  background-color: var(--secondary-color);

  flex: 1;
}

.copy-text {
  max-width: 75ch;
}

.reel__container {
  display: flex;
  justify-content: space-around;
}

{# Curriculum Vitae ##########################################################}

.cv__container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.cv__content {
  max-width: 120ch;
}

.cv__subheading, .cv__sub-subheading {
  padding: 0.25rem 0;
}

.cv__subheading {
  color: var(--primary-color);
}

.cv__sub-subheading {
  padding-bottom: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv__project-link {
  color: var(--primary-color-light);
}

.cv__project-link:hover {
  color: var(--tertiary-color-light);
}

.cv__project-link:visited {
  color: var(--tertiary-color);
}

.cv__entry_name {
  flex: 2 1 0;
}

.cv__date-container {
  flex: 1 1 0;
  text-align: right;
}

.cv__list-item {
  min-width: 20ch;
  padding: 0 0 0 2rem;

  list-style: none;
}

.cv__skills-container {
  padding-bottom: 0.5rem;

  display: flex;
  flex-flow: row wrap;
  place-content: space-around space-around;
  gap: 1rem;
}

.cv__skills-container .h2 {
  color: var(--primary-color);
}

.cv__degree-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 0.5ch;
}

.cv__degree-honors {
  padding: 0 0 0.5rem 2rem;
}

{# About Me ##################################################################}

.about-me__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about-me__img {
  max-width: 400px;
}

#about-me {
  padding: 1rem 1rem 5rem;
}

{# @media ####################################################################}

@media screen and (max-width: 900px) {
  :root {
    --primary-font-size: 0.9rem;
    --brand-title-font-size: calc(var(--primary-font-size) * 2.5);
  }

  .cv__list-item {
    padding: 0 0 0 1rem;
  }

  .cv__degree-honors {
    padding: 0 0 0.5rem 1rem;
  }

  .about-me__img {
    max-width: 256px;
  }
}

@media screen and (max-width: 560px) {
  .h1 {
    font-size: calc(var(--primary-font-size) * 1.5);
  }

  .h2 {
    font-size: calc(var(--primary-font-size) * 1.25);
  }

  .cv__list-item {
    width: 100%;
    padding: 0;
  }

  .cv__degree_separator {
    font-size: 0;
    flex-basis: 100%;
  }

  .cv__degree-honors {
    padding: 0 0 0.5rem 0;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --brand-title-font-size: calc(var(--primary-font-size) * 2);
  }
}
